{% extends "layout.html" %}

{% block head %}
    <link href="/static/styles.css" rel="stylesheet">
{% endblock %}

{% block title %}
    Log in
{% endblock %}

{% block body %}

    <div class="container-fluid d-flex justify-content-center mt-5" >

        <img src="/static/woofer.svg" class="rounded float-left img-fluid mr-3" alt="woofer-logo" id="homepage-logo">
        <h1 class="display-1 woofer">Woofer</h1>

    </div>
    <div class="container-fluid d-flex justify-content-center py-5" id="login-form">

        <!-- Login -->
        <div class="card" style="width: 25rem;">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category,message in messages %}
                                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                    {{message}}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %} 
                    <form action="/login" method="post" class="needs-validation" id="login" novalidate>
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="password" name="password" placeholder=" " required>
                                <button class="btn btn-outline-secondary toggle-password" type="button" data-target="password">
                                    <i class="bi bi-eye-slash"></i>
                                </button>
                            </div>
                        </div>
                        <small class="error">
                            {{error}}
                        </small>
                        <div class="d-grid gap-2 mt-3">
                            <button class="btn btn-primary" type="submit">Log In</button>
                        </div>
                    </form>
                    <p class="text-center mt-2">
                        <a href="/forgot-password">Forgot your password?</a>
                    </p>
                </li>
        <!-- Register Button-->
                <li class="list-group-item">
                    <div class="d-grid gap-2">
                        <a type="button" class="btn btn-dark" href="/register">
                              Create New Account</a>
                    </div>
                </li>
              </ul>
        </div>
    </div>

{% endblock %}
