{% extends "layout.html" %}

{% block head %}
    <link href="/static/styles.css" rel="stylesheet">
{% endblock %}

{% block title %}
    Sign Up
{% endblock %}

{% block body %}
    <div class="container-fluid d-flex justify-content-center mt-5" >

        <img src="/static/woofer.svg" class="rounded float-left img-fluid mr-3" alt="woofer-logo" id="homepage-logo">
        <h1 class="display-1 woofer">Woofer</h1>

    </div>

    <div class="container-fluid d-flex justify-content-center py-5" id="register-form">
    <!-- Register -->
        <div class="card" style="width: 25rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h3 class="text-center pt-2">Create a New Account</h3>
                    <form action="/register" method="post" class="needs-validation" id="register" autocomplete="off" novalidate>
                          <div class="input-group">
                              <div class="form-floating mb-3">
                                <input type="text" class="form-control {{data['fname']}}" id="firstName" name="firstName" placeholder="First Name" value="{{data['first_name']}}" required>
                                <label for="firstName">First Name</label>
                                <div class="valid-feedback">
                                  Looks good!
                                </div>
                                <div class="invalid-feedback">
                                  Required, can only contain alphabets.
                                </div>
                              </div>
                              <div class="form-floating mb-3">
                                <input type="text" class="form-control {{data['lname']}}" id="lastName" name="lastName" placeholder="Last Name" value="{{data['last_name']}}" required>
                                <label for="lastName">Last Name</label>
                                <div class="valid-feedback">
                                  Looks good!
                                </div>
                                <div class="invalid-feedback">
                                  Required, can only contain alphabets.
                                </div>
                              </div>
                          </div>

                          <div class="form-floating mb-3">
                            <input type="text" class="form-control {{data['uname']}}" id="username" name="username" placeholder="Username" value="{{data['username']}}" required>
                            <label for="username">@Username</label>
                            <div class="valid-feedback">
                              Looks good!
                            </div>
                            <div class="invalid-feedback">
                              {{data['uname_error']}}
                            </div>
                          </div>

                          <div class="form-floating mb-3">
                            <input type="email" class="form-control {{data['mail']}}" id="registerEmail" name="registerEmail" placeholder="name@example.com" value="{{data['email']}}" required>
                            <label for="registerEmail">Email Address</label>
                            <div class="valid-feedback">
                              Looks good!
                            </div>
                            <div class="invalid-feedback">
                              {{data['email_error']}}
                            </div>
                          </div>
                          <div class="form-floating mb-3">

                            <input type="password" class="form-control {{data['pword']}}" id="password" name="password" placeholder="Password" value="{{data['password']}}" required />
                            <label for="password">New Password</label>
                            <input type="checkbox" onclick="myFunction()">Show Password

                            <div class="valid-feedback">
                              Looks good!
                            </div>
                            <div class="invalid-feedback">
                              Password must contain a minimum of 8 characters, including at least 1 uppercase and lowercase letter, at least 1 number and at least one symbol from _ or @ or $.
                            </div>
                          </div>
                          <div class="d-grid gap-2">
                              <button class="btn btn-dark" type="submit">Sign Up</button>
                          </div>
                    </form>
                </li>
                <li class="list-group-item">
                    <p class="text-reset text-center">Already have an account? <a class="fw-bold" href="/login">Log in.
                    </a></p>
                </li>
            </ul>
        </div>
    </div>

  <script src="/static/forms.js"></script>



{% endblock %}